<div class="jumbotron">
  <h2 class="text-center">MyTest Angular + Api</h2>
</div>
<div class="row">
  <div class="col-md-6">
    <app-note-details-form></app-note-details-form>
  </div>
  <div class="col-md-6">
    <span>list of notes</span>
    <table class="table">
      <thead class="thead-light">
        <tr>Title</tr>
        <tr>Descript</tr>
        <tr>Created Date</tr>
        <tr>Updated Date</tr>
        <tr>Deleted Date</tr>
        <tr>Secred Code</tr>
      </thead>
      <tbody>
        <tr *ngFor="let pd of service.list">
          <!--<td>{{pd.id}}</td>-->
          <td>{{pd.title}}</td>
          <td>{{pd.description}}</td>
          
        </tr>
      </tbody>
    </table>
  </div>
</div>


<!--Id: number=0;
Title: string="";
Description: string = "";
CreatedDate: string = "";
UpdatedDate: string = "";
CompletedDate: string="";
SecurityCode: string="";-->
