<div class="jumbotron">
  <h2 class="text-center">MyTest Angular + Api</h2>
</div>
<div class="row">
  <div class="col-md-6">
    <app-note-details-form></app-note-details-form>
  </div>
  <div class="col-md-6">
    <span>list of notes</span>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th> Title</th>
            <th>Descript</th>
            <th>Created Date</th>
            <th>Updated Date</th>
            <th>Deleted Date</th>
            <th>Secred Code</th>
            <th><p class="bg-danger">Remowe</p></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pd of service.list">
            <!--<td>{{pd.id}}</td>-->
            <td (click)="PutData(pd)"> {{pd.title}}</td>
            <td (click)="PutData(pd)"> {{pd.description}}</td>
            <td (click)="PutData(pd)"> {{pd.createdDate}}</td>
            <td (click)="PutData(pd)"> {{pd.updatedDate}}</td>
            <td (click)="PutData(pd)"> {{pd.completedDate}}</td>
            <td (click)="PutData(pd)">Remove</td>
          </tr>
        </tbody>
    </table>
  </div>
</div>


<!--Id: number=0;
Title: string="";
Description: string = "";
CreatedDate: string = "";
UpdatedDate: string = "";
CompletedDate: string="";
SecurityCode: string="";-->
